@import java.time.format.DateTimeFormatter

@(event: models.Event, location: models.Location, products: Seq[(models.Product, models.Category)], dateFormatter: DateTimeFormatter, timeFormatter: DateTimeFormatter, appUrl: String)

@email {
  <section class="pure-g" style='display:block;letter-spacing:-.31em;text-rendering:optimizespeed;font-family:FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-align-content:flex-start;-ms-flex-line-pack:start;align-content:flex-start;word-spacing:-.43em;color: #363636;'>
    <div class="pure-u-1" style="display:inline-block;zoom:1;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto;width:100%;font-family:sans-serif;">
      <div style="margin: 0 auto; padding: 1rem; text-align: center;">
        <h2>¡Hola @{event.contactName}!</h2>
        <h3>
          Este es un correo generado de forma automática para recordarte que tienes una cita agendada en 24 horas.
        </h3>
        <h4>Información de la Cita</h4>
        <table class="pure-table pure-table-horizontal pure-table-striped" style="border-collapse:collapse;border-spacing:0;empty-cells:show; border:1px solid #cbcbcb; margin: 0 auto;">
          <tbody>
           <tr>
              <td style="padding:0;border-left:1px solid #cbcbcb;border-width:0 0 0 1px;font-size:inherit;margin:0;overflow:visible;padding:.5em 1em;background-color:transparent;border-bottom:1px solid #cbcbcb;background-color:#f2f2f2;font-weight: 500;">
                Sucursal
              </td>
              <td style="padding:0;border-left:1px solid #cbcbcb;border-width:0 0 0 1px;font-size:inherit;margin:0;overflow:visible;padding:.5em 1em;background-color:transparent;border-bottom:1px solid #cbcbcb;background-color:#f2f2f2;">
                @{location.name}
              </td>
            </tr>
            <tr>
              <td style="padding:0;border-left:1px solid #cbcbcb;border-width:0 0 0 1px;font-size:inherit;margin:0;overflow:visible;padding:.5em 1em;background-color:transparent;border-bottom:1px solid #cbcbcb;background-color:#f2f2f2;font-weight: 500;">
                Dirección
              </td>
              <td style="padding:0;border-left:1px solid #cbcbcb;border-width:0 0 0 1px;font-size:inherit;margin:0;overflow:visible;padding:.5em 1em;background-color:transparent;border-bottom:1px solid #cbcbcb;background-color:#f2f2f2;">
                @{location.address}
              </td>
            </tr>
            <tr>
              <td style="padding:0;border-left:1px solid #cbcbcb;border-width:0 0 0 1px;font-size:inherit;margin:0;overflow:visible;padding:.5em 1em;background-color:transparent;border-bottom:1px solid #cbcbcb;font-weight: 500;">
                Fecha de la Cita
              </td>
              <td style="padding:0;border-left:1px solid #cbcbcb;border-width:0 0 0 1px;font-size:inherit;margin:0;overflow:visible;padding:.5em 1em;background-color:transparent;border-bottom:1px solid #cbcbcb;">
                @{event.start.toLocalDate.format(dateFormatter)}
              </td>
            </tr>
            <tr>
              <td style="padding:0;border-left:1px solid #cbcbcb;border-width:0 0 0 1px;font-size:inherit;margin:0;overflow:visible;padding:.5em 1em;background-color:transparent;border-bottom:1px solid #cbcbcb;background-color:#f2f2f2;border-bottom-width:0;font-weight: 500;">
                Horario
              </td>
              <td style="padding:0;border-left:1px solid #cbcbcb;border-width:0 0 0 1px;font-size:inherit;margin:0;overflow:visible;padding:.5em 1em;background-color:transparent;border-bottom:1px solid #cbcbcb;background-color:#f2f2f2;border-bottom-width:0;">
                @{event.start.toLocalTime.format(timeFormatter)} -
                @{event.start.toLocalTime.plus(event.duration).format(timeFormatter)}
              </td>
            </tr>
          </tbody>
        </table>
        <h4>Información de los Productos</h4>
        <table class="pure-table" style="border-collapse:collapse;border-spacing:0;empty-cells:show;border:1px solid #cbcbcb;margin: 0 auto;">
          @for((product, category) <- products) {
            <tbody>
              <tr>
                <td rowspan="2" style="padding:0;border-left:1px solid #cbcbcb;border-width:0 0 0 1px;font-size:inherit;margin:0;overflow:visible;padding:.5em 1em;background-color:transparent;">
                  @if(product.imageData.isDefined) {
                    <image width="96" height="96" src="cid:@{product.id.value}" />
                  }
                </td>
                <td style="padding:0;border-left:1px solid #cbcbcb;border-width:0 0 0 1px;font-size:inherit;margin:0;overflow:visible;padding:.5em 1em;background-color:transparent;">
                  <span style="font-weight: 500;">Categoría:</span>
                  @{category.name}
                </td>
              </tr>
              <tr>
                <td style="padding:0;border-left:1px solid #cbcbcb;border-width:0 0 0 1px;font-size:inherit;margin:0;overflow:visible;padding:.5em 1em;background-color:transparent;">
                  <span style="font-weight: 500;">Cantidad:</span>
                  @{product.quantity}
                </td>
              </tr>
            </tbody>
          }
        </table>
        <a href='@{appUrl}@{routes.MailController.cancelAppointment(event.id)}' style="background-color:transparent;color: #3273DC;">
          Haz click en cualquier momento para cancelar la cita
        </a>
        <p>
          o ve a la siguiente dirección <span style="color: #3273DC">@{appUrl}@{routes.MailController.cancelAppointment(event.id)}</span>
        </p>
      </div>
    </div>
  </section>
}
